<!Doctype htmls>
<html>

<head>
    <title>weather</title>
  <link rel="stylesheet" href="/css/styles.css">
  
</head>
<body>
    <div class="main-content">
     {{>header}}
    <p>weather is Shine</p>

    <form >
        <input placeholder="location">
        <button>search</button>
    </form>
    <p id="message-one"></p>
    <p id="message-two"></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>